# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#.vs
*.vs

#output folder and obj output foler
TerranEngine/bin/
TerranEngine/bin-int/

Sandbox/bin/
Sandbox/bin-int/

!premake5.exe
