# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Files
*.pdb

#.vs
.vs

#output folder and obj output foler
bin/
bin-int/
Intermidiates/
obj/
net8.0/

# Visual Studio Solution
*.sln

#Visual Studio Project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user

#Terran
*.log
premake/

# Mono
mono/

#Python
__pycache__

# Jetbrains IDEs
.idea

# Misc
.cache
compile_commands.json
.vim/
*.plist

#Shaderc
shaderc/

# Cached Shaders
*.cached

#VSCode
.vscode/
*.code-workspace
