
[submodule "Terran/TerranEngine/vendor/spdlog"]
	path = Terran/TerranEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TerranEngine/vendor/GLFW"]
	path = TerranEngine/vendor/GLFW
	url = https://github.com/OKAY808/glfw
[submodule "TerranEngine/vendor/ImGui"]
	path = TerranEngine/vendor/ImGui
	url = https://github.com/OKAY808/imgui
[submodule "TerranEngine/vendor/glm"]
	path = TerranEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "TerranEngine/vendor/freetype"]
	path = TerranEngine/vendor/freetype
	url = https://github.com/OKAY808/freetype